.btn{
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 40px 10px 40px;
  margin: 50px ;
  font-weight: 600;
  cursor:pointer;
  transition: color 1000ms ease 3s,
              background-color 10000ms ease 3s;
}

#container{
  text-align: center;
}

.btn:hover{
  background-color: black;
  color: wheat;
}